latest/AD/Service References/ServiceReference2/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CorePGService1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="PGService_TCP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CorePGIService1_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="CorePGIService1_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="CorePGIService1_sendData_InputMessage">
    <wsdl:part name="parameters" element="tns:sendData" />
  </wsdl:message>
  <wsdl:message name="CorePGIService1_sendData_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendDataResponse" />
  </wsdl:message>
  <wsdl:message name="CorePGIService1_WaitForData_InputMessage">
    <wsdl:part name="parameters" element="tns:WaitForData" />
  </wsdl:message>
  <wsdl:message name="CorePGIService1_WaitForData_OutputMessage">
    <wsdl:part name="parameters" element="tns:WaitForDataResponse" />
  </wsdl:message>
  <wsdl:portType name="CorePGIService1">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/CorePGIService1/Connect" message="tns:CorePGIService1_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CorePGIService1/ConnectResponse" message="tns:CorePGIService1_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendData">
      <wsdl:input wsaw:Action="http://tempuri.org/CorePGIService1/sendData" message="tns:CorePGIService1_sendData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CorePGIService1/sendDataResponse" message="tns:CorePGIService1_sendData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WaitForData">
      <wsdl:input wsaw:Action="http://tempuri.org/CorePGIService1/WaitForData" message="tns:CorePGIService1_WaitForData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/CorePGIService1/WaitForDataResponse" message="tns:CorePGIService1_WaitForData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PGService_TCP" type="tns:CorePGIService1">
    <wsp:PolicyReference URI="#PGService_TCP_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/CorePGIService1/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendData">
      <soap12:operation soapAction="http://tempuri.org/CorePGIService1/sendData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WaitForData">
      <soap12:operation soapAction="http://tempuri.org/CorePGIService1/WaitForData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CorePGService1">
    <wsdl:port name="PGService_TCP" binding="tns:PGService_TCP">
      <soap12:address location="http://192.100.100.10:9311/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.100.100.10:9311/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>